@import "tailwindcss";

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

/* testing: ------------------------------------------------------ */

/* styles.css */
@keyframes pulse-bar {
  0% {
    opacity: 0.2;
    transform: scaleY(1);
  }

  50% {
    opacity: 1;
    transform: scaleY(1.5);
  }

  100% {
    opacity: 0.2;
    transform: scaleY(1);
  }
}

.animate-pulse-bar {
  animation: pulse-bar 0.6s infinite;
}

.animation-delay-150 {
  animation-delay: 0.15s;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}