@import "tailwindcss";

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

/* testing: ------------------------------------------------------ */

/* styles.css */
@keyframes pulse-bar {
  0% {
    opacity: 0.2;
    transform: scaleY(1);
  }

  50% {
    opacity: 1;
    transform: scaleY(1.5);
  }

  100% {
    opacity: 0.2;
    transform: scaleY(1);
  }
}

.animate-pulse-bar {
  animation: pulse-bar 0.6s infinite;
}

.animation-delay-150 {
  animation-delay: 0.15s;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

/* toggle button -------------------------------------------- */

.toggle-btn {
  transition: background-color 0.5s ease, border-color 0.2s ease;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.548);
  position: relative;
}

.toggle-btn .thumb {
  height: 1.75rem;
  width: 1.75rem;
  background-color: white;
  border-radius: 99px;
  transition: left 0.5s ease;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled  {
  background-color: #54b154;
}

.toggle-btn.toggled .thumb {
  left: calc(64px - 34px); 
}